@import 'tailwindcss';

@plugin 'tailwind-scrollbar';

:root {
  --primary-color: #263233;
  --secondary-color: #a06d28;
  --border-color: #354648;
  --hover-color: #2f3e3f;
}

.card-container {
  @apply py-1 rounded-2xl;
}

.container-light {
  @apply bg-gray-100 text-gray-800;
}

.container-dark {
  @apply bg-[var(--primary-color)] text-white;
}

.border-primary {
  @apply border-[var(--border-color)];
}

.border-secondary {
  @apply border-[var(--secondary-color)];
}

.border-light {
  @apply border-gray-100;
}

.border-dark {
  @apply border-gray-700;
}

.item-hover {
  @apply hover:bg-[var(--hover-color)];
}

.button {
  @apply hover:cursor-pointer;
}

.mapboxgl-popup-content {
  background-color: var(--color-gray-800) !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: var(--color-gray-800) !important;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: var(--color-gray-800) !important;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: var(--color-gray-800) !important;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: var(--color-gray-800) !important;
}

.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  border-bottom-color: var(--color-gray-800) !important;
}

.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: var(--color-gray-800) !important;
}

.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: var(--color-gray-800) !important;
}
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  border-top-color: var(--color-gray-800) !important;
}
